/*div{
    border: 3px black solid;
}*/
/*img:hover{
    background-color: rgb(151, 126, 95);
}*/

*{
    -webkit-user-select: none;
    user-select: none;
}
img{
    width: 100px;
    height: 100px;
}

dialog>form>header>h1{
    font-size: 32px;
    margin: 5px;
    padding: 0;

    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

dialog{
    /*display: flex;*/
    padding: 20px;
    padding-top: 0;

    border: solid 5px white;
    border-bottom: solid 5px darkgray;
    border-right: solid 5px darkgray;
    border-radius: 10px;

    box-shadow: 0px 0px 0px 2px black;
    background-color: lightgrey;
    outline: 0;
}
dialog>form>section{
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);

    gap: 5px;
}
dialog>form>section>img{
    width: 60px;
    height: 60px;
    background-color: grey;

    border: solid 2px white;
    border-top: solid 2px black;
    border-left: solid 2px black;
}
form>footer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

form>footer>input{
    width: 50%;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: bolder;
}
#weaponSlot, #toolSlot{
    display: none;
}

.window{
    display: grid;

    width: 1200px;

    grid-template-columns: auto 100px 300px 100px;
    grid-template-rows: 100px 100px 100px 100px;

    grid-template-areas: 
    "flex1 armor1 nothing weapon1"
    "flex2 armor2 nothing noweapon"
    "flex3 armor3 nothing noweapon"
    "flex4 armor4 nothing weapon2";

    gap: 20px;

    padding: 20px;

    border: solid 5px white;
    border-bottom: solid 5px darkgray;
    border-right: solid 5px darkgray;

    border-radius: 10px;

    box-shadow: 0px 0px 0px 2px black;

    background-color: lightgrey;
}

.window>div{
    background-color: grey;

    border: solid 2px white;
    border-top: solid 2px black;
    border-left: solid 2px black;
}

.window>div.nothing{
    grid-area: nothing;
    background-color: black;
    border-radius: 3px;
}

div>img:hover{
    /*box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.65);*/
    filter: drop-shadow(5px 5px 5px black); /*képekre szűrő*/
    transition: linear 0.05s;
}

.flex1{
    grid-area: flex1;

    display: flex;
    justify-content: space-evenly;
    gap: 0px 10px;
    flex-wrap: nowrap;

    background-color: rgb(230, 230, 230);
}
.flex2{
    grid-area: flex2;

    display: flex;
    justify-content: space-evenly;
    gap: 0px 10px;
    flex-wrap: nowrap;

    background-color: rgb(230, 230, 230);
}
.flex3{
    grid-area: flex3;

    display: flex;
    justify-content: space-evenly;
    gap: 0px 10px;
    flex-wrap: nowrap;

    background-color: rgb(230, 230, 230);
}
.flex4{
    grid-area: flex4;

    display: flex;
    justify-content: space-evenly;
    gap: 0px 10px;
    flex-wrap: nowrap;

    background-color: rgb(230, 230, 230);
}

.armor1{
    grid-area: armor1;
    background-color: rgb(209, 209, 209);
}
.armor2{
    grid-area: armor2;
    background-color: rgb(209, 209, 209);
}
.armor3{
    grid-area: armor3;
    background-color: rgb(209, 209, 209);
}
.armor4{
    grid-area: armor4;
    background-color: rgb(209, 209, 209);
}

.weapon{
    grid-area: weapon1;
    background-color: rgb(209, 209, 209);
}
.noweapon{
    grid-area: noweapon;
    display: none;
}
.tool{
    grid-area: weapon2;
    background-color: rgb(209, 209, 209);
}

.weapon1 img, .weapon2 img{
    width: 100%;
}